
extends layout

block content
  form.login
        span What's your secret key
        input(type='text' placeholder='Please enter your secret key!')
        input(type='submit' value='->')

    .revealblurred
        .slides
            section(data-background='assets/img/1.jpg')
            section(background-image:'assets/img/2.jpg') Vertical slide 1
            section(data-background='assets/img/3.jpg') vertical slide 2
            section(data-background='assets/img/4.jpg') Vertical slide 3
            section(data-background='assets/img/5.jpg') Horizontal slide 2        
            section(data-background='assets/img/6.jpg') Vertical slide 4
            section(data-background='assets/img/7.jpg') Vertical slide 5
			section(data-background='assets/img/8.jpg')
            section(data-background='assets/img/9.jpg')
			section(data-background='assets/img/10.jpg')
            section(data-background='assets/img/11.jpg')			
			section(data-background='assets/img/12.jpg')
            section(data-background='assets/img/13.jpg')
        
block scripts
      script(src='//code.jquery.com/jquery-2.1.3.min.js')
      script(src='/assets/revealjs/lib/js/head.min.js')
      script(src='/assets/revealjs/js/reveal.js')
      script(src='/socket.io/socket.io.js')
      script(src='/assets/js/Script.js')

